<div class="directory-header">
	<ul>
    <% for(var i in this.navDir){ %> 
      <li>
        <% if(this.navDir[i].link) {%>

          <a href="javascript:void(0)" onclick="get(this)" 
            data-link="<%= this.navDir[i].link %>?type=folder">  
            <%= this.navDir[i].name %> 
          </a>

         <% } else {%>

          <a href="javascript:void(0)" style="color:black"> 
            <%= this.navDir[i].name %> 
          </a>
          
         <% } %>
      </li> 
    <% } %> 
	</ul>
</div>

<ul>
  <% for(var i in this.folder){ %> 

    <li>

      <%  if(this.folder[i].type == "unpreviewable"){ %> 

        <a target="_blank" href="ARBR<%= this.baseDir + this.folder[i].name %>?type=unpreviewable">  
        <%=this.folder[i].name %> 
        </a> 

      <% } else { %>

        <a href="javascript:void(0)" onclick="get(this)" data-link="<%= this.baseDir + this.folder[i].name %>?type=<%= this.folder[i].type%>">  
        <%=this.folder[i].name %> 
        </a>

      <% } %> 

    </li> 

  <% } %> 
</ul>